<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-energized" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"
                ng-click="app.action('reportissue', 'BackToIssueList', this)"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Report Issue</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <select-list data-comp-id="selectList.1" label-class=" required"
                    ng-model="data.Category">Category</select-list>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <label class="item item-input" data-comp-id="textAreaInput.1">
                    <span class="input-label required">Description</span>
                    <textarea ng-model="data.Description" rows="4"></textarea>
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.5">
            <div class="col" data-comp-id="column.6">
                <label class="item item-input" data-comp-id="textInput.1">
                    <span class="input-label required">Summary</span>
                    <input type="text">
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <label class="item" data-comp-id="takePhoto.1"
                    ng-class="{'item-input item-button-right': style === 'control'}"
                    take-photo="control">
                    <span class="input-label" ng-if="style === 'control'">Take Photo</span>
                    <button class="button button-icon" ng-if="style === 'control'">
                        <i class="icon positive-icon ion-camera"></i>
                    </button>
                    <input disabled="" ng-if="style === 'control'" type="text">
                    <button class="button button-block button-positive nomargin"
                        ng-if="style === 'button'">Take Photo</button>
                    <textarea class="not-visible"></textarea>
                </label>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.4" style="padding: 0px;">
            <div class="col text-center" data-comp-id="column.4" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button class="button icon button-round button-shadowed ion-android-cancel"
                        ng-click="app.action('reportissue', 'BackToIssueList', this)"></button>
                    <div class="label"></div>
                </div>
            </div>
            <div class="col text-center" data-comp-id="column.5" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-round button-shadowed fa-icon fa-save"
                        ng-click="app.action('reportissue', 'ReportIssue', this)"></button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.2"
        dynamic-floating-footer=""></div>
</ion-view>